*{
    color: rgb(0, 38, 255);
    border-radius: 20px;
}

body{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    flex-direction: column;
    background-color:rgb(25, 25, 25);
    overflow: hidden;
}
#g_panel{
    height:6rem;
    width:60rem;
    border:2px solid white;
}
#d1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 33rem;
    width: 60rem;
    border:2px solid white;
    margin-top: 10px;
}
#insan{
    margin: 5px;
    height: 30rem;
    width: 20rem;
    border:2px solid white;
}

#giris{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 30rem;
    width: 25rem;
    border:2px solid white;
}
.dd{
    height: 24rem;
    width: 17rem;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bilgiler{
    height: 5rem;
    width: 13rem;
    margin-right: 1rem;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
}
.inpler{
    height: 5rem;
    width: 11rem;
    margin-right: 1rem;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inpler {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    max-width: 190px;
    position: relative;
  }
  
  .inpler input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(0, 38, 255);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
  }
  
  .inpler label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(0, 38, 255);
  }
  
  .inpler :is(input:focus, input:valid)~label {
    transform: translateY(-70%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color:rgb(25,25,25);
  }
  
  .inpler :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
  }

/* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  /* button styling */
  .button {
    --border-right: 6px;
    --text-stroke-color: rgb(255, 255, 255);
    --animation-color: rgb(0, 38, 255);
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }